.mingyue-icon:after {
    position: absolute;
    border: 1px solid black;
    background: rgb(84, 150, 201);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
    content: "";
    background-image: url(./assets/expansion_icons/expansion_icon_mingyue.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.expansion-icon-mingyue {
    background-image: url(./assets/expansion_icons/expansion_icon_mingyue.png);
}

.card-icon-name-contains-asteroid {
    background-image: url("./assets/mingyue/asteroid.png");
}

.card-icon-loop-arrow {
    background-image: url("./assets/mingyue/loop_arrow.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0px;
}

.card-icon-x-dian {
    background-image: url("./assets/mingyue/x-dian.png");
}

.card-icon-5-dian {
    background-image: url("./assets/mingyue/5-dian.png");
}

.card-icon-6-dian {
    background-image: url("./assets/mingyue/6-dian.png");
}

.card-container {
    position: relative; /* 为父容器设置相对定位 */
}

.card-luna-chain-logo {
    background-image: url(./assets/mingyue/corp-logo-luna-chain.png);
    height: 48px;
    width: 132px;
    background-size: 132px 48px;
    margin-top: 10px;
    position: relative; /* 保证 logo 元素处于合适的位置 */
    z-index: 1; /* 使 logo 在下层 */
}

.card-lastpay-counter {
    position: absolute; /* 绝对定位，允许它脱离文档流 */
    top: 11%; /* 使其竖直居中于 .card-luna-chain-logo */
    left: 39%; /* 根据需要调整水平位置，使其更靠左 */
    transform: translateY(-50%); /* 使 .card-lastpay-counter 相对其自身竖直居中 */
    z-index: 2; /* 确保它在 logo 上层 */
    width: 30px; /* 添加固定宽度用于对齐 */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.card-lastpay-counter-number {
    font-size: 20px; /* 调整字体大小 */
    color: #a56387; /* 调整颜色，以便在背景上清晰显示 */
    font-weight: bold; /* 强调字体 */
    text-align: center;
    width: 100%; /* 保证文字在容器内水平居中 */
    line-height: 1;
}

.card-lastpay-counter-number {
    font-size: 20px;
    color: #a56387;
    font-weight: bold;
    text-align: center;
    width: 100%; /* 保证文字在容器内水平居中 */
    line-height: 1;
}

.card-tithes-logo {
    background-image: url(./assets/mingyue/corp-logo-tithes.png);
    height: 90px;
    width: 90px;
    background-size: 90px 90px;
    margin-top: 10px;
}

.card-resource-monkey {
    //background-image: url(./assets/mingyue/monkey.png);
    background-image: url(./assets/resources/animal.png);
}

.board-space-tile--gambling-district-las-vegas {
	background: url("./assets/mingyue/gambling-district-las-vegas-tile.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}

.card-tile-gambling-district-las-vegas {
	background: url("./assets/mingyue/gambling-district-las-vegas-tile.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}
