.card-icon-name-contains-asteroid {
    background-image: url("./assets/MYDIY/asteroid.png");
}

.card-icon-loop-arrow {
    background-image: url("./assets/MYDIY/loop_arrow.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0px;
}
